body {
    background: url(../images/bg-body.gif);
    height: auto;
    width: auto;
    margin: 0 auto;
  }
  
  #page {
    background: url(../images/bg-page.gif) no-repeat center 0;
    height: auto;
    width: auto;
    margin: 0 auto;
  }
  
  p a, h4 a {
    color: #875316;
  }
  
  #header {
    font-family: arial;
    width: 960px;
    margin: 0 auto;
    position: relative;
  
    a#logo {
      background: none;
      border: medium none;
      display: block;
      height: 252px;
      margin: 0;
      width: 347px;
  
      img {
        border: 0;
        position: relative;
        z-index: 1;
        top: 0;
        left: 1px;
      }
    }
  
    ul {
      padding: 10px 0;
      margin: 5px 0 0 30px;
      border: 1px #D5B88E;
      border-style: dashed none dashed none;
      list-style: none;
      width: 300px;
      float: none !important;
      overflow: hidden;
  
      li {
        width: 87px;
        padding: 0 6px;
        border: 1px #D5B88E;
        border-style: none none none dashed;
        float: left;
  
        &.first {
          border: 0;
        }
  
        h2 {
          margin: 0;
  
          a {
            background: none;
            color: #900017;
            display: block;
            font-size: 18px;
            font-weight: bold;
            height: auto;
            margin: 0;
            text-decoration: none;
            text-shadow: 0 1px 1px #FFFFFF;
            width: auto;
            text-align: left;
            line-height: 20px;
          }
        }
  
        span {
          text-shadow: 0 1px 1px #FFFFFF;
          color: #900017;
          margin-top: 3px;
          display: block;
          font-size: 16px;
        }
      }
  
      &#links {
        position: absolute;
        right: 55px;
        top: 100px;
      }
    }
  
    a {
      margin: 11px 0 35px 20px;
      padding: 0;
      border: 0;
      background: url(../images/interface.gif) no-repeat 0 -261px;
      width: 306px;
      height: 48px;
      text-shadow: 0 1px 1px #553B22;
      font-size: 18px;
      font-family: arial;
      color: #FFFFFF;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
      display: block;
      line-height: 45px;
      text-align: center;
  
      &#button {
        position: absolute;
        right: 55px;
        top: 185px;
      }
    }
  
    ul#navigation {
      border: 0 none;
      float: none !important;
      margin: 0;
      padding: 0;
      position: absolute;
      width: auto;
      right: 10px;
      top: 18px;
  
      li {
        border: 0;
        width: auto;
        padding: 0;
        text-align: center;
        line-height: 50px;
        height: 55px;
  
        a {
          background: none;
          color: #FFFFFF;
          font-size: 16px;
          font-weight: normal;
          height: auto;
          margin: 0;
          text-decoration: none;
          text-shadow: none;
          width: auto;
          outline: none;
  
          &:hover {
            color: #c0ab8a;
          }
        }
  
        &#link1 {
          width: 77px;
  
          &.selected {
            background: url(../images/navigation.gif) no-repeat;
            position: relative;
            z-index: 9;
          }
        }
  
        &#link2 {
          width: 83px;
  
          &.selected {
            background: url(../images/navigation.gif) no-repeat 0 -55px;
          }
        }
  
        &#link3 {
          width: 111px;
  
          &.selected {
            background: url(../images/navigation.gif) no-repeat 0 -110px;
          }
        }
  
        &#link4 {
          width: 74px;
  
          &.selected {
            background: url(../images/navigation.gif) no-repeat 0 -167px;
          }
        }
  
        &#link5 {
          width: 74px;
  
          &.selected {
            background: url(../images/navigation.gif) no-repeat 0 -223px;
          }
        }
  
        &#link6 {
          width: 82px;
  
          &.selected {
            background: url(../images/navigation.gif) no-repeat 0 -279px;
          }
        }
  
        &#link7 {
          width: 121px;
  
          &.selected {
            background: url(../images/navigation.gif) no-repeat 0 -335px;
          }
        }
  
        &.selected a {
          color: #4e311f;
        }
      }
    }
  
    img {
      left: 347px;
      position: absolute;
      top: 75px;
    }
  
    div {
      background: url(../images/interface.gif) no-repeat 0 -193px;
      width: 915px;
      height: 66px;
      margin: 0 auto;
  
      h1 {
        color: #DFC185;
        font-family: arial;
        font-size: 30px;
        line-height: 70px;
        margin: 0;
        padding-left: 15px;
        float: left;
        height: 66px;
      }
  
      p {
        color: #dadada;
        float: left;
        font-size: 18px;
        line-height: 70px;
        margin: 0 0 0 40px;
        text-shadow: 0 1px 1px #5C0100;
        height: 66px;
  
        a {
          color: #FFFFFF;
          display: inline;
          font-size: 18px;
          height: auto;
          line-height: 0;
          margin: 0;
          width: auto;
          background: none;
        }
      }
    }
  }
  
  #content {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    height: auto;
    padding-bottom: 30px;
  
    div#featured {
      background: url(../images/interface.gif) no-repeat;
      height: 191px;
      padding: 0;
      float: none;
      margin-top: 7px;
      clear: both;
    }
  
    #featured {
      .section1 h2 {
        color: #8E0519;
        font-family: arial;
        margin: 0;
        padding: 20px 0 0 30px;
        text-shadow: 0 1px 1px #FFFFFF;
        font-size: 29px;
        float: left;
      }
  
      ul {
        margin: 0;
        padding: 5px 0 0 30px;
        list-style: none;
        height: auto;
        overflow: hidden;
        float: left;
        width: auto;
  
        li {
          &.first {
            margin-left: 0;
          }
  
          float: left;
          text-align: center;
          margin-left: 15px;
          border: 0;
  
          &.last a img {
            border: 0 !important;
          }
  
          a {
            border: 0 none;
            color: #271500;
            display: block;
            float: none;
            font-family: arial;
            font-size: 14px;
            margin: 0;
            text-decoration: none;
            text-indent: 0;
            background: none;
            width: auto;
            height: auto;
  
            &:hover {
              background: none;
            }
  
            img {
              border: 1px solid #f4e5cd !important;
              float: none;
  
              &:hover {
                filter: alpha(opacity = 80);
                opacity: 0.8;
              }
            }
          }
        }
      }
  
      a img {
        border: 0 !important;
        margin-right: 0;
        float: none;
      }
    }
  
    div.featured {
      background: url(../images/interface.gif) no-repeat -3px 0;
      height: 191px;
      padding: 0;
      float: none;
      margin-top: 7px;
      clear: both;
    }
  
    .featured {
      h2 {
        color: #8E0519;
        font-family: arial;
        margin: 0;
        padding: 20px 0 0 30px;
        text-shadow: 0 1px 1px #FFFFFF;
        font-size: 29px;
        float: left;
      }
  
      ul {
        margin: 0;
        padding: 5px 0 0 30px;
        list-style: none;
        height: auto;
        overflow: hidden;
        float: left;
        width: auto;
  
        li {
          &.first {
            margin-left: 0;
          }
  
          float: left;
          text-align: center;
          margin-left: 19px;
          border: 0;
  
          a {
            border: 0 none;
            color: #271500;
            display: block;
            float: none;
            font-family: arial;
            font-size: 14px;
            margin: 0;
            text-decoration: none;
            text-indent: 0;
            background: none;
            width: auto;
            height: auto;
  
            &:hover {
              background: none;
            }
  
            img {
              border: 1px solid #f4e5cd !important;
              float: none;
            }
          }
  
          &.last a {
            color: #ab9675;
            font-weight: bold;
            text-shadow: 0 1px 0 #f4e5cd;
  
            img {
              border: 0 !important;
              padding: 0 0 11px 0;
            }
          }
  
          a img:hover {
            filter: alpha(opacity = 80);
            opacity: 0.8;
          }
        }
      }
  
      a {
        float: left;
        margin: 18px 0 0 13px;
        text-decoration: none;
        padding: 0;
        border: 0;
        background: no-repeat;
        width: 78px;
        height: 78px;
        text-indent: -99999px;
  
        &:hover {
          background: no-repeat -78px 0;
        }
  
        img {
          border: 0 !important;
          margin-right: 0;
          float: none;
        }
      }
    }
  
    div {
      &.section1 {
        float: left;
        margin: 20px 0 0;
        padding: 0 0 0 30px;
        width: 225px;
      }
  
      &.section2 {
        float: left;
        margin: 20px 0 0;
        padding: 0 0 0 25px;
        width: 455px;
      }
  
      h2 {
        color: #AE0A25;
        font-family: arial;
        font-size: 20px;
        margin: 0;
      }
  
      ul#article {
        list-style: none;
        padding: 0;
        margin: 0;
        width: auto;
  
        li {
          &.first {
            border: 0;
            padding: 0;
          }
  
          border-width: 1px;
          border-style: dashed none none none;
          border-color: #c39f63;
          margin-top: 10px;
          padding: 10px 0 0;
  
          a {
            font-family: arial;
            text-decoration: none;
            font-weight: normal;
  
            p {
              color: #875115;
              padding: 7px 0 15px 0;
              text-align: justify;
              font-size: 15px;
              width: 231px;
              font-weight: normal;
              line-height: 17px;
              margin: 0;
            }
  
            span {
              color: #b00923;
              font-size: 14px;
              font-weight: bold;
              font-style: normal;
            }
          }
        }
      }
  
      &.section2 p {
        color: #875115;
        font-family: arial;
        font-size: 14px;
        font-weight: bold;
        margin: 10px 0;
        width: 375px;
        line-height: 17px;
      }
  
      img {
        float: left;
        margin-right: 10px;
        border: 1px solid #FFFFFE;
      }
  
      h3 {
        float: left;
        margin: 0;
        color: #875115;
        font-size: 15px;
        font-weight: normal;
        font-family: arial;
      }
  
      ul {
        color: #895315;
        float: left;
        margin: 0 0 10px 15px;
        padding: 0;
        width: 200px;
      }
    }
  
    ul li p {
      font-size: 14px !important;
      font-weight: normal !important;
      margin: 0 !important;
      width: auto !important;
      text-align: left;
  
      a {
        color: #875316;
        font-weight: normal;
        text-decoration: underline !important;
      }
    }
  
    div {
      div {
        &#section1 {
          float: left;
          margin: 5px 0 0;
          padding: 0;
          width: 300px;
  
          ul li p {
            font-size: 14px;
          }
        }
  
        &#section2 {
          float: left;
          margin: 5px 0 0 10px;
          padding: 0;
          width: 145px;
  
          ul li {
            img {
              margin: 0;
            }
  
            h4 {
              float: left;
              font-family: arial;
              font-size: 15px;
              font-weight: bold;
              margin: 10px 0 0;
              text-align: left;
              width: 140px;
            }
  
            p {
              width: 140px;
              font-size: 14px;
            }
          }
        }
  
        ul {
          list-style: none;
          margin: 0;
          width: auto;
  
          li {
            overflow: hidden;
            margin-bottom: 20px;
  
            h4 {
              float: left;
              margin: 0;
              font-family: arial;
              font-size: 15px;
              font-weight: bold;
              width: 155px;
              text-align: left;
  
              a {
                text-decoration: none;
              }
            }
          }
        }
      }
  
      &.section3 {
        float: left;
        margin: 20px 0 0;
        padding: 0 20px;
        width: 175px;
        position: relative;
  
        a {
          font-family: arial;
          font-size: 13px;
          color: #875316;
          text-decoration: none;
          font-weight: bold;
          display: block;
          margin: 10px 0 0 0;
        }
      }
    }
  }
  
  a {
    &#email {
      background: url(../images/icons.gif) no-repeat;
      padding: 0 0 0 30px;
      height: 16px;
    }
  
    &#facebook {
      background: url(../images/icons.gif) no-repeat 0 -18px;
      padding: 0 0 0 30px;
      height: 22px;
      line-height: 23px;
    }
  
    &#twitter {
      background: url(../images/icons.gif) no-repeat 0 -42px;
      padding: 0 0 0 30px;
      height: 18px;
    }
  }
  
  #content div {
    &.section3 {
      form {
        margin: 20px 0 0 0;
  
        h3 {
          color: #b00923;
          float: left;
          font-family: arial;
          font-size: 15px;
          font-weight: normal;
          padding: 0;
          margin: 0;
        }
  
        input {
          border-color: #BBAD99;
          border-style: solid none none solid;
          border-width: 1px;
          height: auto;
          padding: 5px 5px 7px;
          width: 158px;
          color: #AFAFAF;
          font-size: 14px;
          font-style: italic;
        }
      }
  
      img {
        border: 0 none;
        float: none;
        left: 15px;
        _left: 11px;
        margin: 0;
        position: absolute;
        top: 239px;
        *top: 241px;
        _top: 231px;
      }
    }
  
    padding: 0 10px 0 35px;
    float: left;
  
    h1 {
      font-family: arial;
      font-size: 30px;
      color: #8F0417;
      font-weight: bold;
      text-shadow: 0 1px 1px #FFFFFF;
      margin: 0;
      padding: 20px 0;
    }
  
    h4 {
      font-family: arial;
      font-weight: bold;
      color: #875316;
      font-size: 14px;
      width: 585px;
      line-height: 20px;
      margin: 0 0 5px 0;
    }
  
    span {
      color: #9e805e;
      font-family: arial;
      font-style: italic;
      font-size: 14px;
    }
  
    p {
      color: #875316;
      font-size: 15px;
      font-weight: normal;
      font-family: arial;
      margin: 15px 0;
      line-height: 25px;
      text-align: justify;
      width: 585px;
    }
  
    &#blog {
      margin: 76px 0 0;
      padding: 0 20px 5px;
      width: 270px;
  
      h4 {
        width: auto;
  
        a {
          text-decoration: none;
        }
      }
  
      span {
        width: auto;
      }
  
      p {
        width: auto;
        margin: 10px 0 38px 0;
      }
    }
  
    &#zoo {
      float: none;
      padding: 0 35px;
      height: 713px;
  
      h3 {
        float: none;
        font-weight: bold;
      }
  
      h4 {
        font-weight: normal;
        margin: 10px 0;
        width: auto;
      }
    }
  
    &#contact {
      float: none;
      padding: 0 60px;
      height: 713px;
    }
  
    &#zoo p {
      width: auto;
      margin: 5px 0 30px;
      font-size: 14px;
    }
  
    &#contact {
      p {
        margin: 5px 0 30px;
        width: 540px;
  
        a {
          color: #875316;
          display: inline;
          font-family: arial;
          font-size: 15px;
          font-weight: normal;
          margin: 10px 0 0;
          text-decoration: underline;
        }
      }
  
      a {
        color: #875316;
        display: block;
        font-family: arial;
        font-size: 13px;
        font-weight: bold;
        margin: 10px 0 0;
        text-decoration: none;
      }
  
      form {
        margin: 20px 0 0;
  
        input {
          border-color: #BBAD99;
          border-style: solid none none solid;
          border-width: 1px;
          height: auto;
          padding: 5px 5px 7px;
          width: 158px;
          color: #AFAFAF;
          font-size: 14px;
          font-style: italic;
          clear: both;
          float: left;
        }
  
        h3 {
          color: #B00923;
          font-weight: bold;
          line-height: 25px;
          margin: 0 5px 0 0;
        }
      }
    }
  
    &#events {
      padding: 0 35px;
      height: 911px;
  
      p {
        width: 585px !important;
        float: left;
        margin: 5px 0 0 !important;
        font-size: 14px !important;
      }
  
      ul {
        list-style: none;
        margin: 0;
        width: auto;
  
        li {
          margin: 0 0 37px;
          overflow: hidden;
          height: 1%;
  
          div {
            width: 268px;
            height: 213px;
            background: #dbc6a9;
            padding: 1px;
            float: left;
            margin: 0 20px 0 0;
  
            a img {
              border: 1px solid #fff;
              margin: 0;
  
              &:hover {
                filter: alpha(opacity = 80);
                opacity: 0.8;
              }
            }
          }
  
          h4 {
            float: left;
            text-transform: uppercase;
  
            a {
              color: #875316;
              font-family: arial;
              font-size: 14px;
              font-weight: bold;
              line-height: 20px;
              margin: 0 0 5px;
              width: 585px;
              text-decoration: none;
            }
          }
        }
      }
    }
  
    &#gallery {
      width: 745px;
      margin: 0 auto;
      float: none;
      height: 911px;
      padding-left: 45px;
  
      ul {
        float: none;
        list-style: none;
        margin: 0;
        width: auto;
        overflow: hidden;
  
        li {
          float: left;
          margin: 0 32px 41px 0;
  
          div {
            float: none;
            height: 213px;
            padding: 1px;
            width: 214px;
            background: #DBC6A9;
            margin: 0 0 5px;
  
            a img {
              margin: 0;
              float: none;
  
              &:hover {
                filter: alpha(opacity = 80);
                opacity: 0.8;
              }
            }
          }
  
          a {
            display: block;
            font-size: 15px;
            color: #721f1f;
            text-decoration: none;
            font-family: arial;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }
  
    &#tickets {
      float: none;
      height: 713px;
      padding: 0 35px;
  
      ul {
        float: none;
        margin: 0;
        width: auto;
        list-style: none;
        overflow: hidden;
        padding: 15px 0 0;
  
        li {
          &.first {
            margin: 0;
          }
  
          width: 267px;
          height: auto;
          float: left;
          margin: 0 0 0 44px;
  
          div {
            float: none;
            padding: 1px;
            background: #DBC6A9;
            width: 267px;
            height: 213px;
  
            a img {
              margin: 0;
  
              &:hover {
                filter: alpha(opacity = 80);
                opacity: 0.8;
              }
            }
          }
        }
      }
  
      h2 {
        padding: 20px 0 0;
        text-align: center;
        font-size: 0;
  
        a {
          text-decoration: none;
          color: #875316;
          font-family: arial;
          font-weight: bold;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
  
      p {
        margin: 15px 0 10px !important;
        text-align: justify;
        width: auto !important;
        font-size: 14px !important;
        padding: 0 2px;
      }
  
      span {
        font-style: normal;
        color: #875316;
        margin: 0 30px 0 0;
      }
    }
  
    &#info {
      float: none;
      height: 713px;
      padding: 0 35px;
  
      p {
        width: auto;
        font-size: 14px;
      }
  
      ul {
        list-style: none;
        margin: 0;
        width: auto;
        padding: 0;
  
        li {
          float: left;
          margin: 0 15px 32px;
          text-align: center;
          width: 261px;
  
          h2 {
            margin: 15px 0;
  
            a {
              color: #875316;
              font-weight: bold;
              text-transform: uppercase;
              font-size: 14px;
              margin: 15px 0;
              text-decoration: none;
            }
          }
  
          p {
            text-align: justify;
          }
        }
      }
    }
  
    &#live {
      h1 {
        padding: 20px 0 5px;
      }
  
      float: none;
      padding: 0 35px;
      height: 911px;
  
      p {
        width: auto;
        margin: 0 0 15px;
      }
    }
  }
  
  #footer {
    background: url(../images/bg-footer.gif) repeat-x center top;
    padding: 7px 0 0;
    overflow: hidden;
  
    div {
      margin: 0 auto;
      width: 960px;
      overflow: hidden;
  
      a.logo {
        display: block;
        height: 178px;
        width: 203px;
        float: left;
        margin: 0 20px 0 0;
  
        img {
          border: 0;
        }
      }
  
      div {
        width: auto;
        margin: 0 84px 0 0;
        float: left;
        padding-top: 40px;
  
        p {
          font-family: arial;
          font-size: 12px;
          width: 195px;
          line-height: 20px;
          margin: 0;
          color: #ad8753;
          text-align: left;
        }
  
        span {
          font-family: arial;
          font-size: 12px;
          width: 195px;
          line-height: 20px;
          margin: 0;
          color: #ad8753;
          display: block;
        }
      }
  
      ul {
        &.navigation {
          list-style: none;
          margin: 0 64px 0 0;
          padding: 40px 0 0;
          float: left;
          width: 153px;
  
          li {
            float: left;
            width: 76px;
            padding: 0 0 10px 0;
  
            a {
              color: #ad8753;
              font-family: arial;
              font-size: 14px;
              text-decoration: none;
  
              &:hover {
                color: #875115;
              }
            }
          }
        }
  
        list-style: none;
        margin: 0;
        padding: 40px 0 0;
  
        li {
          padding: 0 0 10px 0;
  
          a {
            color: #ad8753;
            font-family: arial;
            font-size: 14px;
            text-decoration: none;
  
            &:hover {
              color: #875115;
            }
          }
        }
      }
  
      p {
        text-align: center;
        font-size: 12px;
        color: #ad8753;
        font-family: arial;
        clear: both;
        margin: 0 0 47px;
      }
    }
  }